fire
ftfy
nltk
tqdm
pytz
munch
seaborn
notebook
matplotlib
scikit-learn
ranger-fm
gspread
oauth2client
tensorboard
wandb
openai
google-cloud-aiplatform
langchain
transformers>=4.37.2
diffusers>=0.18.0
accelerate==1.6.0
invisible_watermark
safetensors
peft==0.15.2
torchvision
clip
timm
loralib
jinja2==3.1.4